@page "/Exercises"
@using LiftTracker.Data
@attribute [StreamRendering]
@rendermode InteractiveServer
@inject NavigationManager NavigationManager;
@inject IConfiguration Configuration;
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize];

<div class="text-center">
	<a href="/CreateExercise/">Create New</a>
</div>
<div class="row">
	@if (Rows != null)
	{
		@foreach (var groupedRows in Rows.GroupBy(x => x.MuscleGroup))
		{
			<div class="row">
				<div class="col-1"></div>
				<div class="col-10 my-3">
					<div class="col-12 card p-3">
						<div class="row text-center mb-3">
							<h1>
								@groupedRows.Key.ToString()
							</h1>
							@foreach (var row in groupedRows)
							{
								<a href="/Exercise/@row.Id.ToString()">@row.Name</a>
							}
						</div>
					</div>
				</div>
				<div class="col-1"></div>
			</div>
		}
	}
</div>

@code {
	public IEnumerable<Exercise>? Rows { get; set; }

	protected override void OnInitialized()
	{
		using var context = new LiftTrackerContextBuilder(Configuration).Build();
		Rows = context.Exercises.ToList();
	}
}